// Цвета

$white: white;
$whitesmoke: whitesmoke;
$black: #303030;
$grey: #F7F7F7;
$orange: #FF6C00;
$darkblue: #191C26;
$gold: #d5ad5a;

// Размеры экрана

$tablet: 768px;
$laptop: 1280px;
$desktop: 1920px;
